<% if (errors && errors.length) { %>
    <div class="alert alert-error" role="alert">
        <ul>
            <% errors.forEach((error) => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    </div>
<% } %>